$clr-primary-db:#070439;
$clr-primary-bd:hsl(238, 22%, 44%);

$clr-accent-bb:#3065f8;
$clr-accent-b2:#6b8ffd;
$clr-accent-mc:#3c9f8f;

$clr-neutral-gb: #f6f6fe;
$clr-neutral-lg:#bfbfbf;

$clr-white:#fff;

$ff-raleway: 'Raleway', cursive;


$ff-Open-Sans: 'Open Sans', cursive;
$fw-400:400;   
$fw-700:700;

$ff-body:$ff-Open-Sans;
$ff-heading:$ff-Open-Sans;

$fs-h-1:1.7rem;
$fs-h-2:1rem;
